nav {
    background-color: rgb(69, 149, 175);
    margin-bottom: 10px
  
}

.navbar-brand {
    font-weight: bolder;
}

.navbar-nav {
    
    font-weight: bolder;
    font-style: oblique
   
}


.card-body {
    font-size: large;
    color: rgb(69, 149, 175);
    font-weight: bolder;
}

img {
    width: 200px;
    height: 200px
  }

 .contact-info {
    
 }