nav {
    background-color: rgb(69, 149, 175);
    margin-bottom: 10px
  
}

.navbar-brand {
    font-weight: bolder;
}

.navbar-nav {
    
    font-weight: bolder;
    font-style: oblique
   
}
.card {
    margin-bottom: 10px;
}
.card-body {
    font-size: large;
    color: rgb(69, 149, 175);
    font-weight: bolder;
    
}

img {
    width: 200px;
    height: 200px
  }

  footer {

      background-color: rgb(231, 231, 231);
      list-style: none;
  }

 #contact-info a
  {
    
    color: rgb(69, 149, 175);
      font-weight: bold;
      
  }